<h1>Classic photosphere</h1>

<!--<p><code>&lt;photosphere src="images/photosphere.jpg"&gt;&lt;/photosphere&gt;</code></p>
<photosphere src="images/photosphere.jpg"></photosphere>

<p><code>&lt;photosphere src="images/photosphere.jpg" speed="10"&gt;&lt;/photosphere&gt;</code></p>
<photosphere src="images/photosphere.jpg" speed="10"></photosphere>

<p><code>&lt;photosphere src="images/photosphere.jpg" resolution="40"&gt;&lt;/photosphere&gt;</code></p>
<photosphere src="images/photosphere.jpg" resolution="40"></photosphere>-->

<p><code>&lt;photosphere src="images/photosphere.jpg" width="768" height="240"&gt;&lt;/photosphere&gt;</code></p>
<photosphere src="images/photosphere.jpg" width="768" height="240"></photosphere>

<p><code>&lt;photosphere src="images/photosphere.jpg" controls="pointer" speed="1"&gt;&lt;/photosphere&gt;</code></p>
<photosphere src="images/photosphere.jpg" controls="pointer" speed="1"></photosphere>